table tr{
    text-align: center;
}
td{
    width: 200px;
    height: 60px;
}
.txt{
    width: 150px;
    font-size: 26px;
    text-align: center;
}
.butt{
    width: 150px;
    height: 50px;
}
.rad{

}
#distrib{
    list-style-type: none;
}
#distrib li{
    float: left;
}
img{
    width: 150px;
    height: auto;
}
img:hover{
    transform: scale(1.1);
}